@charset "utf-8";

details {
    background-color: #f0f8ff;
}

details p {
    padding: 0 5px 5px;
}

summary {
    background-color: #d3d3d3;
}

img {
    width: 95%;
    margin: 10px 2%;
}

img.twoFace {
    width: 45%;
    margin: 10px 2%;
}

img.threeFace {
    width: 30%;
}

pre {
    background-color: #333333;
    height: auto;
    max-height: 300px;
    line-height: 1rem;
    color: #dddddd;
    overflow: scroll;
}


.supplement {
    display: none;
    position: absolute;
    width: 50%;
    color: #000000;
    background-color: #f9f9f9;
    opacity: .9;
    border: 1px solid #333333;
    padding: 5px;
    z-index: 1;
}

.supIcon {
    font-size: .75em;
    color: #808080;
}

.supIcon:hover .supplement {
    display: block;
    /* ホバー時に表示 */
}

#alert span {
    display: block;
}

@media screen and (max-width: 767px) {
    img {
        width: 100%;
    }

    pre {
        height: 100px;
        max-height: 150px;
        overflow: scroll;
    }


    #headline>div>h1 {
        font-size: 18px;
    }

    section>div>h3 {
        margin-bottom: 5px;
    }

    ol#agenda {
        margin-top: 5px;
    }

    #alert {
        font-size: 1em;
    }

    .emphasis {
        color: #dc143c;
    }

    .supIcon:active .supplement {
        display: block;
        /* ホバー時に表示 */
    }

    .supplement {
        width: 95%;
    }
}