@charset "utf-8";

details {
    background-color: #f0f8ff;
}

summary {
    background-color: #d3d3d3;
}

img {
    width: 75%;
}

img.twoFace {
    width: 45%;
}

img.threeFace {
    width: 30%;
}

pre {
    background-color: #333333;
    color: #dddddd;
}

.supplement {
    display: none;
    position: absolute;
    width: 50%;
    color: #000000;
    background-color: #f9f9f9;
    opacity: .9;
    border: 1px solid #333333;
    padding: 5px;
    z-index: 1;
}

.supIcon {
    font-size: .75em;
    color: #808080;
}

.supIcon:hover .supplement {
    display: block;
    /* ホバー時に表示 */
}


@media screen and (max-width: 767px) {
    img {
        width: 100%;
    }

    pre {
        height: 100px;
        max-height: 150px;
        overflow: scroll;
    }


    #headline>div>h1 {
        font-size: 18px;
    }

    section>div>h3 {
        margin-bottom: 5px;
    }

    ol#agenda {
        margin-top: 5px;
    }

    #alert {
        font-size: 1em;
    }

    .emphasis {
        color: #dc143c;
    }

    .supIcon:active .supplement {
        display: block;
        /* ホバー時に表示 */
    }

    .supplement {
        width: 95%;
    }
}