@charset "utf-8";

@font-face {
    font-family: 'Orbitron';
    font-display: block;
    src: url('../../code/Orbitron-SemiBold.ttf');
}

@font-face {
    font-family: 'Pacifico';
    font-display: block;
    src: url('../../code/Pacifico-Regular.ttf');
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}


header {
    height: 10vh;
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #c0c0c0;
    font-family: 'Orbitron', sans-serif;
}

main {
    padding-top: 10vh;
}

a {
    text-decoration: none;
    color: #ff8e1e;
    transition: .3s;
}

a:hover {
    color: #ff2d2d;
}

img {
    width: 50%;
}

img.twoFace {
    width: 30%;
}

img.threeFace {
    width: 25%;
}

details {
    transition: .3s;
    height: 24px;
    background-color: #dcdcdc;
    padding-left: 10px;
}

details[open]#jrev {
    height: 175px;
}

details[open]#classpathe {
    height: 100px;
}

details[open]#mysqlclc {
    height: 125px;
}

details pre {
    margin: 0;
}

section div:nth-of-type(2) {
    margin: auto 2.5%;
}

#rabbitrun {
    font-family: 'Pacifico', cursive;
}

.supplement {
    font-size: small;
    color: #a9a9a9;
}