@charset "utf-8";

@font-face {
    font-family: 'Orbitron';
    font-display: block;
    src: url('../../code/Orbitron-SemiBold.ttf');
}

@font-face {
    font-family: 'Pacifico';
    font-display: block;
    src: url('../../code/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: block;
    src: url('../../code/RobotoCondensed-Regular.ttf');
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
}

body.fix {
    height: 100%;
    overflow: hidden;
}

header {
    position: fixed;
    background-color: #ffffff;
    border-bottom: 1px solid #c0c0c0;
    font-family: 'Roboto Condensed', sans-serif;
}

main {
    padding-top: 10vh;
}

a {
    text-decoration: none;
    color: #ff8e1e;
    transition: .3s;
}

a:hover {
    color: #ff2d2d;
}

img {
    width: 50%;
}

img.twoFace {
    width: 30%;
}

img.threeFace {
    width: 25%;
}

details {
    transition: .3s;
    height: 24px;
    background-color: #dcdcdc;
    padding-left: 10px;
}

details[open]#jrev {
    height: 175px;
}

details[open]#classpathe {
    height: 100px;
}

details[open]#mysqlclc {
    height: 125px;
}

details pre {
    margin: 0;
}

section div:nth-of-type(2) {
    margin: auto 2.5%;
}

#rabbitrun {
    font-family: 'Pacifico', cursive;
}

.supplement {
    font-size: small;
    color: #a9a9a9;
}

@media screen and (max-width: 767px) {
    header {
        height: 60px;
    }

    #btn {
        position: fixed;
        right: 0;
        width: 60px;
        height: 60px;
        cursor: pointer;
        z-index: 60;
    }

    #btn span {
        display: inline-block;
        transition: all .4s;
        position: absolute;
        left: 18px;
        height: 2px;
        background-color: #666;
    }

    #btn span:nth-of-type(1) {
        top: 22px;
        width: 40%;
    }

    #btn span:nth-of-type(2) {
        top: 32px;
        width: 40%;
    }

    #btn.active span:nth-of-type(1) {
        top: 20px;
        left: 20px;
        transform: translateY(6px) rotate(-45deg);
        width: 35%;
    }

    #btn.active span:nth-of-type(2) {
        top: 32px;
        left: 20px;
        transform: translateY(-6px) rotate(45deg);
        width: 35%;
    }

    #menu {
        display: none;
    }

    #menu.active {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 50;
        background-color: rgba(255, 192, 128, 0.9);
        animation: menu 0.4s;
    }

    @keyframes menu {
        from {
            background-color: rgba(255, 255, 255, 0);
        }

        to {
            background-color: rgba(255, 192, 128, 0.9);
        }
    }
}