@charset "utf-8";

@font-face {
    font-family: 'Orbitron';
    font-display: block;
    src: url('fonts/Orbitron-SemiBold.ttf');
}

@font-face {
    font-family: 'Pacifico';
    font-display: block;
    src: url('fonts/Pacifico-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Condensed';
    font-display: block;
    src: url('fonts/RobotoCondensed-Regular.ttf');
}

@font-face {
    font-family: 'Caveat';
    font-display: block;
    src: url('fonts/Caveat-Regular.ttf');
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
}

body {
    -webkit-font-smoothing: subpixel-antialiased;
    overflow-x: hidden;
    width: 100%;
}

header {
    height: 10vh;
    width: 100%;
    background-color: #ffffff;
    padding: 0 1%;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #ff8e1e;
    transition: .3s;
}

a:hover {
    color: #ff2d2d;
}

main {
    margin: 0 5%;
}

section {
    padding: 0 5px;
    margin: 3vh 0;
}

section:not(:last-child)::after {
    content: '';
    display: block;
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #c0c0c0;
}

section>div:last-of-type {
    margin: 0 10px;
}

h2,
p {
    margin: 10px 0;
}

.logo-area {
    margin-left: 2%;
}

.logo-area>a {
    display: flex;
    align-items: center;
    font-family: "Caveat", cursive;
    color: #000000;
    font-size: 20px;
}

.logo-area>a>img {
    width: 40px;
    height: 40px;
}

#menu {
    background-color: #ffffff;
    height: 100vh;
    width: 35%;
    transition: .3s;
    top: 0;
    left: 100%;
    position: fixed;
    align-items: normal;
    font-size: 24px;
}

#menu.active {
    left: 65%;
    z-index: 50;
}

#menu .logo-area {
    display: none;
}

#btn {
    position: fixed;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    z-index: 60;
}

#btn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 18px;
    height: 2px;
    background-color: #666;
}

#btn span:nth-of-type(1) {
    top: 22px;
    width: 40%;
}

#btn span:nth-of-type(2) {
    top: 32px;
    width: 40%;
}

#btn.active span:nth-of-type(1) {
    top: 20px;
    left: 20px;
    transform: translateY(6px) rotate(-45deg);
    width: 35%;
}

#btn.active span:nth-of-type(2) {
    top: 32px;
    left: 20px;
    transform: translateY(-6px) rotate(45deg);
    width: 35%;
}

nav ul {
    background-color: #ffffff;
    margin: 10vh 0 0 0;
    height: auto;
    width: 100%;
    display: block;
    padding: 0 10px;
}

nav ul li {
    height: 40px;
    border-bottom: 1px solid #c0c0c0;
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
}

nav ul li span {
    width: 100%;
    margin: 0 5%;
}

nav ul li a,
ul li ul {
    width: 100%;
    margin: 0;
}

#srvlst ul li span,
#gamelst ul li span {
    margin: 0 10%;
}

#game span:first-of-type,
#srv span:first-of-type {
    width: 80%;
    margin-right: 0;
}

#game span:last-of-type,
#srv span:last-of-type {
    width: 20%;
    height: 40px;
    padding: 0 auto;
    margin: 0;
    content: url("svg/exarrow.svg");
    transition: .2s;
}

#game.active span:last-of-type,
#srv.active span:last-of-type {
    transform: rotate(180deg);
}

#srvlst,
#gamelst {
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: .4s;
    pointer-events: none;
}

#srvlst.active,
#gamelst.active {
    visibility: visible;
    opacity: 1;
    max-height: 200px;
    pointer-events: auto;
}

#srvlst.active {
    height: 80px;
}

ul li ul li:last-child {
    border-bottom: none;
}

#rabbitrun {
    font-family: 'Pacifico', cursive;
}

details {
    background-color: #d3d3d3;
}

summary {
    background-color: #f0f8ff;
}

img {
    width: 75%;
}

img.twoFace {
    width: 50%;
}

img.threeFace {
    width: 33%;
}

#filter {
    background-color: rgba(0, 0, 0, 0);
    transition: .4s;
}

#filter.active {
    background-color: rgba(0, 0, 0, 0);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
}

@media screen and (max-width: 767px) {
    #menu {
        background-color: #ffffff;
        width: 65%;
        left: 100%;
        font-size: unset;
    }

    #menu.active {
        left: 35%;
    }

    #menu .logo-area {
        height: 10vh;
        display: flex;
        align-items: center;
        margin-left: 5%;
    }

    nav ul {
        background-color: #ffffff;
        margin: 0;
        height: auto;
        width: 100%;
        display: block;
    }

    #btn {
        width: 60px;
        height: 60px;
    }

    #btn span {
        left: 18px;
        height: 2px;
    }

    #btn span:nth-of-type(1) {
        top: 22px;
        width: 40%;
    }

    #btn span:nth-of-type(2) {
        top: 32px;
        width: 40%;
    }

    #btn.active span:nth-of-type(1) {
        top: 20px;
        left: 20px;
        transform: translateY(6px) rotate(-45deg);
        width: 35%;
    }

    #btn.active span:nth-of-type(2) {
        top: 32px;
        left: 20px;
        transform: translateY(-6px) rotate(45deg);
        width: 35%;
    }

    nav ul li {
        height: 40px;
        border-bottom: 1px solid #c0c0c0;
        width: 100%;
        margin: 0;
    }

    nav ul li span {
        width: 100%;
        margin: 0 5%;
    }


    #srvlst ul li span,
    #gamelst ul li span {
        margin: 0 10%;
    }

    #game span:first-of-type,
    #srv span:first-of-type {
        width: 80%;
        margin-right: 0;
    }

    #game span:last-of-type,
    #srv span:last-of-type {
        width: 20%;
        height: 40px;
        padding: 0 auto;
        margin: 0;
    }

    #srvlst.active {
        height: 80px;
    }

    img {
        width: 100%;
    }

    pre {
        height: 150px;
        overflow: scroll;
    }

    #filter.active {
        background-color: rgba(0, 0, 0, 0.5);
    }
}